[% extends '../base.html' %}

{% block title %} POST {% endblock %}

{% block content%}
<div class="content">
        <div class="container">
            <div class="posts">
                <h1 class="mt-3 mb-3">POST user-name</h1>
                <div class="card border-warning mb-3">
                    <div class="card-body">
                        <div class="user-data">
                            <div class="row">
                                <div class="col-2">
                                    <div class="avatar">
                                        <p class="letter">U</p>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="user-name">
                                        <h4>USE NAME</h4>
                                        <p>DATE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque sint, debitis exercitationem quae, dignissimos non laudantium excepturi mollitia nesciunt odit explicabo omnis error necessitatibus veniam ut quo voluptates voluptatibus molestias.
                            </p>
                            </div>
                        <a href="" class=" mt-3 btn btn-primary">EDIT</a>
                        <a href="" class="btn btn-danger">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
