{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %} ADD POST {% endblock %}

{% block content %}
 <div class="content">
        <div class="container">
            <div class="posts">
                <h1 class="mt-3 mb-3">new post</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary mt-3 mb-3">OK</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
