{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %} POST {% endblock %}

{% block content%}
<div class="content">
        <div class="container">
            <div class="posts">
                <h1 class="mt-3 mb-3">SIGN IN</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary mt-3 mb-3">SIGN IN</button>

                </form>
                <p>YOU DON'T HAVE ACCOUNT <a href="{% url 'signUp' %}"> sign up.</a> </p>
            </div>
        </div>
    </div>

{% endblock %}
